.build
build.sh
**.gradle
**.externalNativeBuild
**/build
**.idea
**.swiftpm
**.cxx
**/xcuserdata**
**/xcuserdata**
Package.resolved
Android/app/src/main/jniLibs
Android/app/swiftpm-build/*
swiftpm-build
.DS_Store
